- if flash[:notice]
  .row
    .col-md-12
      .masthead.text-center
        .flash
          %h1= 'Thank you for registering!'
          %p.lead= t('notice.success_details')
- else
  .row
    .col-md-12
      .masthead.text-center
        %h1.description
          = t('app.description').html_safe
        %p.lead= t('app.instructions')

    .col-md-6.col-md-offset-3
      = form_for @subscription, html: { class: 'subscription-form', role: 'form' } do |f|
        .form-group
          = f.select 'base_id', options_from_collection_for_select(::Base.all, 'id', 'currency_name'), {}, { class: 'form-control input-lg' }
        .form-group
          = f.select 'country_id', options_from_collection_for_select(::Country.all, 'id', 'currency_name'), {}, { class: 'form-control input-lg' }
        .form-group
          = f.fields_for :user do |u| 
            = u.text_field :email, placeholder: 'Email', class: 'form-control input-lg'
        .form-group
          = f.submit 'Start Monitoring!', class: 'btn btn-success btn-lg btn-block', id: 'subscription-submit'
