.row
  .small-12.columns
    .masthead.text-center
      %h2.description= t('app.description').html_safe

%br/
%br/
%br/

%form
  .row
    .medium-7.columns.medium-centered
      = select_tag 'base', options_from_collection_for_select(::Base.all.to_a, 'id', 'currency_name')
  .row
    .medium-7.columns.medium-centered
      = select_tag 'base', options_from_collection_for_select(::Country.all.to_a, 'id', 'currency_name')
  .row
    .medium-7.columns.medium-centered
      = text_field_tag 'email', '', placeholder: 'Email'
  .row
    .medium-7.columns.medium-centered
      = submit_tag 'Go!', class: 'button expanded'
