.row
  .small-12.columns
    .masthead.text-center
      %h3.description
        = t('app.description').html_safe
      %p
        = t('app.instructions')

%br/
%br/
%br/

- if flash[:notice]
  %h2= flash[:notice]

= form_for @subscription, html: { class: 'subscription-form', role: 'form' } do |f|
  .row
    .medium-7.columns.medium-centered
      = f.select 'base', options_from_collection_for_select(::Base.all.to_a, 'id', 'currency_name')
  .row
    .medium-7.columns.medium-centered
      = f.select 'country', options_from_collection_for_select(::Country.all.to_a, 'id', 'currency_name')
  .row
    .medium-7.columns.medium-centered
      = f.fields_for 'user' do |u| 
        = u.text_field :email, placeholder: 'Email', class: ''
  .row
    .medium-7.columns.medium-centered
      = f.submit 'Start Monitoring!', class: 'button expanded large', id: 'subscription-submit'
